.graph-content {
  left: -22.52%;
  min-width: 1355px;
}
.graph-db-content {
  left: -23.43%;
  min-width: 1355px;
}
.cpudygraph {
  display: inline-block;
  /*background-color : @model_labels;*/
  position: relative;
  color: #000000;
  right: -20px;
  width: 980px;
  height: 250px;
}
.model_cpudygraph {
  color: #000000;
  font-weight: bold;
  position: absolute;
  text-align: left;
  left: 1020px;
  width: 200px;
  line-height: 120%;
  font-size: 0.8em;
  padding-top: 38px;
}
.dygraph-label {
  position: absolute;
  text-align: center;
  left: 60px;
  font-size: 50%;
}
.dygraph-axis-label {
  color: #000000;
}
.pieHighChartsPie {
  left: 20px;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
.pieHighChartsA {
  left: 220px;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
.pieHighChartsB {
  left: 420px;
  background-color: #ffffff;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
.pieHighChartsC {
  left: 620px;
  color: #ffffff;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
.pieHighChartsPie-sys {
  left: 20px;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 300px;
  margin: 0 auto;
}
.pieHighChartsA-sys {
  left: 270px;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 300px;
  margin: 0 auto;
}
.pieHighChartsB-sys {
  left: 520px;
  background-color: #ffffff;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 300px;
  margin: 0 auto;
}
.pieHighChartsC-sys {
  left: 770px;
  color: #ffffff;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 300px;
  margin: 0 auto;
}
.pieHighCharts_buffer_pool {
  left: 820px;
  color: #ffffff;
  background-color: #ffffff;
  position: absolute;
  display: block;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
#graph_body {
  background: #ffffff;
}
