/**
 * style.less全局的样式运用less写法
 * @authors zhangdelei (zhangdelei@bsgchina.com)
 * @date    2016-12-05 13:36:57
 * @version $1.1.7$
 */
@font-face {
  /*这个样式是用来做图标的*/
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
.fa {
  display: inline-table;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen  �б�ǰ���ͼ��
   readers do not read off random characters that represent icons
    f085  f1b2 f1b3  f1c0 this is icon
    */
.fa-skype:before {
  content: "\f17e";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-archive:before {
  content: "\f187";
}
.fa-lightbulb-o:before {
  content: "\f05c";
}
.fa-lightbulb-o:before {
  content: "\f05c";
}
/**
 * 首页布局的less文件
 * @authors zhangdelei (zhangdelei@bsgchina.com)
 * @date    2016-12-05 16:31:48
 * @version $1.1.7$
 */
/**
 * 全部的color管理less
 * @authors zhangdelei(zhangdelei@bsgchina.com)
 * @date    2016-12-05 16:34:27
 * @version $1.1.7$
 */
.navbar {
  margin-bottom: 0px;
  border-bottom: 0px solid #2E2E2E;
  border-top: 0px;
  border-left: 0px;
}
.navbar .container-fluid {
  background-color: #3a3633;
}
.navbar .container-fluid .logo-lg {
  min-width: 150px;
}
.container-fluid .row .left-sidebar {
  padding-bottom: 40% ;
  border-bottom: 0px solid #2E2E2E;
  background-color: #3a3633;
  min-height: auto;
}
/**
 * 这个是我的头部菜单，后台管理的页面
 * @authors zhangdelei (zhangdelei@bsgchina.com)
 * @date    2016-12-05 13:42:43
 * @version $1.1.7$
 */
.header .row .logo-lg {
  background-color: #3a3633;
}
.header .row .col-md-10 {
  padding-left: 0px;
  padding-right: 0px;
}
.header .row .top-class > li:hover ul > li {
  background-color: #ffffff;
  color: #0E52D8;
}
/**
 * sidebar 左侧的菜单栏的less文件
 * @authors zhangdelei (zhangdelei@bsgchina.com)
 * @date    2016-12-05 17:59:49
 * @version $1.1.7$
 */
.container-fluid .row .left-sidebar #parentUl {
  padding-top: 15px;
  padding-left: 30px;
}
.container-fluid .row .left-sidebar #parentUl > li {
  position: relative;
  /**/
  display: block;
  padding-bottom: 20px;
}
.container-fluid .row .left-sidebar #parentUl > li a i {
  display: inline-block;
  margin-right: 20px;
}
.container-fluid .row .left-sidebar #parentUl > li ul > li {
  position: relative;
  /**/
  display: none;
  margin: 5px 0px;
}
.container-fluid .row .left-sidebar #parentUl > li:hover ul > li {
  display: block;
  right: 30px;
}
/**
 * jqgrid_real_status.less
 * @authors zhangdelei (zhangdelei@bsgchina.com)
 * @date    2016-12-06 17:30:48
 * @version $1.1.7$
 */
.real-status {
  position: absolute;
  background-color: #3A3633;
  min-height: 790px;
  left: -20.5%;
  min-width: 120.5%;
  width: 120.5%;
  max-width: 120.5%;
}
.real-status .startHost {
  left: 900px;
}
.real-status .stopHost {
  left: 900px;
}
